parameters:
	level: 9
	paths:
		- plugin.php
		- includes/
	excludePaths:
		- includes/blocks/*/build/*
	ignoreErrors:
		-
			path: includes/class-base.php
			identifier: constructor.unusedParameter
	reportUnmatchedIgnoredErrors: false
